<div class="container">

  <table>
    <tr>
      <th>Id</th>
      <th>Allocated_Points__c</th>
      <th>Used_Points__c</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Id %></td>
        <td><%= contact.Allocated_Points__c %></td>
        <td><%= contact.Used_Points__c %></td>
      </tr>
    <% end %>
  </table>

</div>
